@import "reset.css";
@import "backgrounds.css";
@import "containers.css";
@import "text.css";
@import "buttons.css";

/*
button border: lightgray
button bg: #f5f5f5
button:hover: #E9E9E9
button_styled border: #183729
button_styled bg: #207f75
button_styled:hover: #1c5b4f
plain text: #838383
plain text:hover: #4b4b4b
*/

.logo {
	max-width: 50%;
}

.logout_button {
	background-image: url('../images/logout_button.svg');
	max-width: 50%;
}
.logout_button:hover {
	background-image: url('../images/logout_button_hover.svg');
}

.list {
	display: flex;
	flex-direction: column;
	width: 100%;
	row-gap: 10px;
}
.title_wrapper_list {
	padding: 0;
}

.client_list_item {
	display: grid;
	grid-template-columns: 0.1fr 0.2fr 1fr 0.1fr;
	align-items: center;
	width: 100%;
	padding: 10px;
	gap: 10px;
	border-radius: 12px;
	border: 1px solid lightgray;
}







.input {
	border-radius: 10px;
	padding: 12px;
}

.buttonRegenerate {
	width: auto;
	color: white;
}

.bucket {
	width: 50px;
}

.buttonCode {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 5px;
	display: flex;
	align-items: center;
	gap: 16px;
	justify-content: space-between;
}

.manageWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 16px;
}
